./lab1_1/pattern_filter.sh
./question_1/solution.sh
./question_2/solution.sh
./question_3/solution.sh
./question_4/solution.sh
./question_5/solution.sh
./question_6/solution.sh
./grep_1/solution.sh
./grep_2/solution.sh
./awk_1/solution.sh
./awk_2/solution.sh
./sed_1/solution.sh
./sed_2/solution.sh
./awk_3/solution.sh